/* 전체 컨테이너 */
.review-container {
  width: 100%;
  max-width: 1024px;
  min-height: 100vh;
  padding: 1rem;
}

/* 버튼 */
.review-btn-wrapper {
  width: 100%;
  margin-right: 10%;
  display: flex;
  justify-content: flex-end;
}
.review-btn {
  color: var(--bottari-grayfont);
  font-weight: 500;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid var(--bottari-grayfont);
  border-radius: 5px;
  padding: 0.3rem;
  margin: 1rem;

  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.review-btn:hover {
  color: var(--bottari-navy);
  border: 1px solid var(--bottari-navy);

}
.review-btn:active {
  transform: scale(0.95);
}

/* 후기 목록 */
.review-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem 0;
}
@media (min-width: 769px) {
  .review-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
    padding: 1rem 0;
  }
}

/* 후기 카드 */
.review-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px var(--bottari-coolgray);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.review-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 3px 10px var(--bottari-coolgray);
}

/* 카드 이미지 */
.review-card-image-wrapper {
  padding: 0.5rem 0;
}
.review-card-image {
  width: 100%;
  padding-top: 80%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* 카드 내용 */
.review-card-content {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.review-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.review-card-title {
  font-weight: 600;
  color: var(--bottari-darkslate);
}

.review-card-stars {
  display: flex;
  gap: 2px;
}

.review-card-text {
  color: var(--bottari-grayfont);
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 0.8rem;

  /* 2줄 제한 */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (min-width: 769px) {
  .review-card-text {
    /* 3줄 제한 */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.review-card-bottom{
  font-size: 0.8rem;
  color: var(--bottari-gray);

  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}