/* 페이지 */
.reserve-list-body {
  padding: 1% 5% 30% 5%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

/* 예약 아이템 */
.reserve-list-content-body {
  width: 100%;
  max-width: 600px;
  border: 1px solid var(--bottari-coolgray);
  box-shadow: 0 0 10px 2px var(--bottari-coolgray);
  border-radius: 10px;
  padding: 1rem 1.5rem 0.3rem 1.5rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;

  font-weight: 600;
}

/* 상단 영역 */
.reserve-list-content-header {
  width: 100%;

  display: flex;
  justify-content: space-between;
}
@media (min-width: 769px) {
  .reserve-list-content-header {
    width: 90%;
    margin: 0.5rem 0;
  
    display: flex;
    justify-content: space-between;
  }

}
.reserve-list-tag {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 0.4rem 1rem;
  
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 0.3rem;
}
/* 왼쪽 : 서비스 타입 */
.reserve-list-type-d {
  background-color: var(--bottari-pink);
  border-color: var(--bottari-pink);
}
.reserve-list-type-s {
  background-color: var(--bottari-skyblue);
  border-color: var(--bottari-skyblue);
}
/* 오른쪽 : 서비스 상태 */
.reserve-list-status-reserved {
  color: #fff;
  background-color: var(--bottari-slateblue);
  border-color: var(--bottari-slateblue);
}
.reserve-list-tag-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.reserve-list-status-in_progress {
  color: #fff;
  background-color: var(--bottari-softblue);
  border-color: var(--bottari-softblue);
}
.reserve-list-status-completed {
  color: #fff;
  background-color: var(--bottari-coolgray);
  border-color: var(--bottari-coolgray);
}
.reserve-list-status-cancelled {
  color: #fff;
  background-color: var(--bottari-coolgray);
  border-color: var(--bottari-coolgray);
}

/* 정보 영역 */
.reserve-list-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 769px) {
  .reserve-list-content-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

/* 왼쪽 출력 */
.reserve-list-content-left {
  display: flex;
  flex-direction: column;  
}
/* 오른쪽 출력 */
.reserve-list-content-right {
  color: var(--bottari-grayfont);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* 가운데 출력 */
.reserve-list-content-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 하단 : 더보기 */
.reserve-list-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center  
}
.reserve-list-icon {
  color: var(--bottari-grayfont);
  width: 50%;
  padding: 1%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

/* 아코디언 출력 내용 */
.reserve-list-content-wrapper {
  display: flex;
  justify-content: space-between;
}
/* 취소버튼 */
.reserve-list-cancel-btn {
  color: var(--bottari-grayfont);
  background-color: #fff;
  border-color: var(--bottari-coolgray); 
  
  margin: 3% 0;
}
/* 빈공간 */
.reserve-list-empty-space {
  width: 100%;
  padding-top: 3%;
}