/* 내용 */
.reserve-form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}
@media (min-width: 769px) {
  .reserve-form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

/* 내 정보 입력 컨테이너 */
.reserve-form-content-container {
  width: 90%;
  border: 1px solid var(--bottari-navy);
  border-radius: 10px;
  padding: 3% 2% 3% 2%;
}
.reserve-form-content-title {
  color: var(--bottari-navy);
  margin: 0.3rem 0 0.7rem 0;
}
.reserve-form-content-wrapper {
  max-width: 400px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

/* 정보 낱개 */
.reserve-form-content {
  font-weight: 600;

  min-height: 40px;
  margin: 0.1rem 0;
  
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.reserve-form-content-name {
  min-width: 88px;
  font-size: 0.9rem;
  margin-top: 2%;
}
@media (min-width: 769px) {
  .reserve-form-content-name {
    min-width: 100px;
    font-size: 1rem;
  }
}

.reserve-form-essential {
  color: var(--bottari-deeppink);
  width: 7px;
}

/* 인풋 래퍼 */
.reserve-form-content-input-wrapper {
  width: 100%;
  /* padding-right: 6px; */
  position: relative;
}
.reserve-form-content-input-x {
  width: 10%;
  color: #aaa;

  display: flex;
  justify-content: center;

  position: absolute;
  top: 10%;
  right: 5px;

  cursor: pointer;
}
.reserve-form-content-input-x:active {
  transform: scale(0.9);
}

/* 정보 입력 인풋 */
.reserve-form-content-input {
  font-size: 0.9rem;
  font-weight: 600;

  width: 100%;
  height: 30px;
  border-radius: 8px;
  border: none;
  background-color: #EEE;

  padding: 1rem 0.8rem;
  margin: 3px;
}
.reserve-form-content-input:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 3px 0 var(--bottari-navy);
}

/* emai input */
.reserve-form-email-input-wrapper {
  font-size: 0.9rem;  
  font-weight: 600;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve-form-email-input {
  font-size: 0.9rem;  
  font-weight: 600;

  width: 100%;
  height: 30px;
  text-align: center;

  border-radius: 8px;
  border: none;
  background-color: #EEE;

  padding: 0.1rem 0.1rem;
  margin: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve-form-email-input:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 3px 0 var(--bottari-navy);
}

/* 휴대폰 input */
.reserve-form-phone-input-wrapper {
  font-size: 0.9rem;  
  font-weight: 600;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve-form-phone-input {
  font-size: 0.9rem;  
  font-weight: 600;

  width: 100%;
  max-width: 90px;
  height: 30px;
  text-align: center;

  border-radius: 8px;
  border: none;
  background-color: #EEE;

  padding: 0.1rem 0.1rem;
  margin: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve-form-phone-input:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 3px 0 var(--bottari-navy);
}

/* 장소 검색 input인 척 */
.reserve-form-content-input-div {
  color: var(--bottari-placeholder);
  font-size: 0.9rem;
  font-weight: 600;

  width: 100%;
  height: auto;
  min-height: 30px;

  border-radius: 8px;
  border: none;
  background-color: #EEE;

  padding: 0.4rem 0.7rem;
  margin: 3px;  

  display: flex;
  align-items: center;
  cursor: pointer;
}

/* 짐 선택 버튼 */
.reserve-from-luggage-btn {
  color: var(--bottari-placeholder);
  font-size: 0.83rem;

  max-width: 203px;
  height: auto;
  max-height: 30px;

  margin: 0;
  padding: 0.5rem 1.1rem;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
}
/* 짐 목록 */
.reserve-form-luggage-container {
  width: 100%;
  padding: 0 2% 0 2%;
  margin-bottom: 2%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.3rem;
}
.reserve-form-content-luggage-wrapper {
  width: 90%;
  max-width: 250px;
  position: relative;
}
.reserve-form-luggage-item {
  color: var(--bottari-placeholder);
  font-size: 0.9rem;
  font-weight: 600;
  
  width: 100%;
  height: auto;
  min-height: 30px;
  
  border-radius: 8px;
  border: none;
  background-color: #ddd;

  padding: 0.4rem 0.7rem;
  /* margin: 3px;   */

  display: flex;
  align-items: center;
}
.reserve-form-luggage-btn-x {
  color: #999;
  position: absolute;
  top: 10%;
  right: 1%;

  cursor: pointer;
}

/* textarea 전용 스타일 */
.reserve-form-content-textarea {
  height: auto;
}
.reserve-form-textarea {
  height: auto;
  line-height: 1.5;
}

/* 결제 */
/* 오른쪽 배열 */
.reserve-form-flex-rignt {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 15%;
}
.reserve-form-price {
  font-size: 1.2rem;
  font-weight: 800;
}

/* 안내문구 */
.reserve-form-content-notice {
  display: flex;
  justify-content: end;
  margin: 0 0.5rem 0.2rem 0;
}
.reserve-form-content-notice-text {
  color: var(--bottari-gray);
  font-size: 0.75rem;
}

/* 결제 버튼 */
.reserve-form-complete-btn-wrapper {
  width: 80%;
  margin: 4%;
}
.reserve-form-complete-btn {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  
  width: 100%;
  
  background-color: var(--bottari-navy);
  border: 1px solid var(--bottari-navy);
  border-radius: 10px;
  padding: 4%;
  
  cursor: pointer;
}
.reserve-form-complete-btn:active {
  transform: scale(0.95);
  filter: brightness(0.95);
}

/* ===== 달력 ===== */
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__input-container {
  width: 100%;
}
/* 인풋 래퍼 */
.reserve-form-daypicker-wrapper {
  color: #777;
  font-size: 0.9rem;
  font-weight: 600;

  width: 100%;
  max-width: 200px;
  height: auto;
  min-height: 30px;
  
  border-radius: 10px;
  border: 1px solid var(--bottari-placeholder);
  background-color: #eee;
  
  padding: 0.4rem 1rem;
  margin: 3px;  
  
  display: flex;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}
/* .reserve-form-daypicker-wrapper:active {
  transform: scale(0.95);
} */

/* 인풋 */
.react-datepicker__input-container input {
  font-size: 0.9rem;
  font-weight: 600;

  width: 100%;
  min-height: 15px;
  background-color: #eee;
  border: none;

  box-sizing: border-box;

  display: flex;
  justify-items: center;
  align-items: center;
  
  cursor: pointer;
  
  transition: all 0.2s ease-in-out;
}
.react-datepicker__input-container input:focus {
  outline: none;
  box-shadow: 0 0 3px 0 var(--bottari-navy);
}


/* 캘린더 팝업 전체 */
.react-datepicker {
  font-family: 'Paperozi', sans-serif;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 var(--bottari-navy);
}

/* 헤더 (월/년 표시 부분) */
.react-datepicker__header {
  background-color: var(--bottari-pink);  /* 너네 프로젝트 메인 컬러 */
  border-bottom: none;
  border-radius: 10px 0 0 0;
  padding-top: 12px;
}
.react-datepicker__header--time:not(.react-datepicker__header--time--only) {
  border-radius: 0 10px 0 0;
}
.react-datepicker__navigation-icon::before {
  border-color: #fff;
}
/* 상단 날짜 / 시간 */
.react-datepicker__current-month,
.react-datepicker-time__header {
  color: var(--bottari-navy);
}
.react-datepicker__day-names {
  font-weight: 600;
}
.react-datepicker__time-list,
.react-datepicker__month {
  color: #333;
  font-weight: 400;
  overflow-x: hidden;
}
/* 선택영역 */
.react-datepicker__day--keyboard-selected,
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected,
.react-datepicker__day--selected {
  background-color: var(--bottari-blue);
  color: #fff;
}
.reserve-confirm-margin-right-4-rem {
  margin-right: 4rem;
}