/* 내부 소제목 스타일 */
.reserve-confirm-content-title {
  color: var(--bottari-navy);
  font-weight: 700;
  font-size: 1.25rem;

  max-width: 500px;
  margin: 0 auto 8%;
  padding: 5% 0 0 5%;

  display: flex;
  gap: 0.3rem;
}
@media (min-width: 769px) {
  .reserve-confirm-content-title {
    color: var(--bottari-navy);
    font-weight: 700;
    font-size: 1.3rem;
  
    max-width: 500px;
    margin: 0 auto 8%;
    padding: 5% 0 0 5%;
  
    display: flex;
    gap: 0.3rem;
  }
}
/* 데이터 영역*/
.reserve-confirm-content-body {
  font-size: 1rem;
  font-weight: 600;

  max-width: 500px;
  margin: 0 auto 0.5rem;
  
  display: flex;
  flex-direction: column;
  gap: 0.1rem
}
/* 데이터별로 */
.reserve-confirm-content-data-container {
  display: flex;
  flex-direction: column;
  gap: 0.1rem
}
/* 데이터 별로 아래 */
.reserve-confirm-content-data-container-middle {
  display: flex;
  flex-direction: column;
  gap: 0.1rem
}
/* 데이터 각각 */
.reserve-confirm-data-wrapper {
  /* background-color: var(--bottari-offwhite); */
  border-bottom: 1px solid var(--bottari-coolgray);
  padding: 3% 4%;

  border-radius: 3px;
  display: flex;
  gap: 0.1rem;
}
.border-none {
  border: none;
}
.reserve-confirm-data-key {
  font-size: 0.95rem;
  min-width: 57px;
  color: var(--bottari-grayfont);
}
.reserve-confirm-data-value {
  width: 100%;
  display: flex;
  justify-content: end;
}
.reserve-confirm-data-value-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.4rem;
}
/* 포인트 */
.reserve-confirm-content-text-pont {
  color: var(--bottari-darkslate);
  min-width: 2.8rem;
  
  background-color: var(--bottari-offwhite);
  border-radius: 5px;
  padding: 2% 3%;
}
@media (min-width: 769px) {
  .reserve-confirm-content-text-pont {
    color: black;
    min-width: 2.8rem;
    
    background-color: var(--bottari-background);
    border-radius: 30px;
    padding: 1% 2%;
  }
}

.reserve-confirm-line {
  width: 85%;
  border: 1px solid var(--bottari-coolgray);
  margin: 8% auto 5%;
}

.reserve-confirm-data-value-point {
  font-size: 1.2rem;
  font-weight: 700;
}

/* 새로고침 주의 문구 */
.reserve-confirm-notice {
  color: #e74c3c;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}


/* 배경색 */
.background-color-var-bottari-offwhite {
  background-color: var(--bottari-offwhite);
}

/* 언더바 */
.border-bottom-var-bottari-pink {
  border-bottom: 2px solid var(--bottari-pink);
}

/* 글자 크기 */
.font-size-1-3-rem {
  font-size: 1.3rem;
}
.font-size-1-2-rem {
  font-size: 1.2rem;
}
.font-weight-700 {
  font-weight: 700;
}

/* 글자색 */
.reserve-confirm-content-gray {
  color: var(--bottari-gray);
}
.color-var-bottari-darkslate {
  color: var(--bottari-darkslate);
}

/* 마진 */
.margin-0-5-rem {
  margin: 0.5rem 0;
}
.border-none {
  border:none;
}
.padding-bottom-0 {
  padding-bottom: 0;
}
.padding-top-0 {
  padding-top: 0;
}