/* FAQ 컨테이너 */
.faq-container {
  width: 100%;
}

/* FAQ 목록 */
.faq-list {
  display: flex;
  flex-direction: column;
  gap: 0;
}

/* FAQ 아이템 */
.faq-item {
  border-bottom: 1px solid #eee;
}

.faq-item:last-child {
  border-bottom: none;
}

/* 질문 */
.faq-question {
  color: var(--bottari-darkslate);
  font-weight: 600;
  line-height: 1.6;
  
  padding: 1rem 0.5rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  transition: background-color 0.2s ease;
}
@media (min-width: 769px) {
  .faq-question {
    color: var(--bottari-darkslate);
    font-size: 0.95rem;
    font-weight: 600;
    font-size: 1rem;
    
    padding: 1rem 0.5rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
}

.faq-question:hover {
  background-color: var(--bottari-offwhite);
}

/* 답변 */
.faq-answer {
  color: var(--bottari-grayfont);
  line-height: 1.6;
  font-size: 0.9rem;

  background-color: var(--bottari-offwhite);
  border-radius: 0 0 8px 8px;
  padding: 1rem 0.5rem 1.5rem;
}
@media (min-width: 769px) {
  .faq-answer {
    color: var(--bottari-grayfont);
    line-height: 1.6;
    font-size: 1rem;
  
    background-color: var(--bottari-offwhite);
    border-radius: 0 0 8px 8px;
    padding: 1rem 0.5rem 1.5rem;
  }
}

