/* 공지사항 컨테이너 */
.notice-container {
  width: 100%;
}

/* 공지사항 목록 */
.notice-list {
  display: flex;
  flex-direction: column;
  gap: 0;
}

/* 공지사항 아이템 */
.notice-item {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid var(--bottari-coolgray);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: background-color 0.2s ease;
  cursor: pointer;
}
@media (min-width: 769px) {
  .notice-item {
    padding: 1.5rem 1rem;
    border-bottom: 1px solid var(--bottari-coolgray);
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    transition: background-color 0.2s ease;
    cursor: pointer;
  }
}

.notice-item:hover {
  background-color: var(--bottari-offwhite);
}

.notice-item:last-child {
  border-bottom: none;
}

/* 제목 */
.notice-item-title {
  color: var(--bottari-darkslate);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.6;

  flex: 1;
}

/* 날짜 */
.notice-item-date {
  font-size: 0.8rem;
  color: var(--bottari-grayfont);
  margin-left: 1rem;

  display: flex;
  justify-content: flex-end;
}
