/* 모바일 컨테이너 */
.notification-info-container {
  width: 80%;
  max-width: 900px;
  background-color: #fff;
  box-shadow: var(--bottari-shadow);
  border-radius: 10px;
  padding: 1.3rem 1.3rem;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 26;
}
@media (min-width: 769px) {
  /* 웹 컨테이너 */
  .notification-info-container {
    width: 40%;
    background-color: #fff;
    border-radius: 10px;
    padding: 1.3rem 1.3rem;

    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

    z-index: 26;
  }
}

/* 닫기 버튼 */
.notification-info-x-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.notification-info-x {
  color: var(--bottari-gray);
  background-color: #fff;
  border: none;
  width: 30px;
  height: 30px;

  cursor: pointer;
}

/* 제목 */
.notification-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.notification-info-title {
  font-size: 1.2rem;
  font-weight: 700;
}

/* 내용 */
.notification-info-content {
  color: var(--bottari-darkslate);
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;

  word-break: keep-all;
  white-space: pre-wrap;
}
.notification-info-content p {
  margin: 0.3rem 0;
}

/* 체크박스 */
.notification-check-wrapper {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0 2%;
}
.notification-check-input {
  margin-right: 0.5rem;
}
.notification-check-text {
  font-size: 0.9rem;
}

/* 버튼 */
.notification-info-btn-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1%;
}
.notification-info-btn {
  color: var(--bottari-darkslate);
  font-size: 0.9rem;
  font-weight: 600;

  width: 48%;
  background-color: var(--bottari-coolgray);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
.notification-info-btn-navy {
  color: #fff;
  background-color: var(--bottari-navy);
}
@media (min-width: 769px) {
  .notification-info-btn {
    padding: 0.5rem 0.9rem;
  }
}


/* 스타일 */
.notification-info-content-bold {
  font-weight: 600;
}