/* 모바일 컨테이너 */
.notification-info-container {
  width: 70%;
  max-width: 900px;
  background-color: #fff;
  box-shadow: var(--bottari-shadow);
  border-radius: 10px;
  padding: 1.3rem 1.3rem;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 26;
}
@media (min-width: 769px) {
  /* 웹 컨테이너 */
  .notification-info-container {
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    padding: 1.3rem 1.3rem;

    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);

    z-index: 26;
  }
}

/* 닫기 버튼 */
.notification-info-x-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  cursor: pointer;
}
.notification-info-x {
  color: var(--bottari-gray);
  background-color: #fff;
  border: none;
  width: 30px;
  height: 30px;
}

/* 제목 */
.notification-info-title-wrapper {
  margin-bottom: 1rem;
}
.notification-info-title {
  font-size: 1.2rem;
  font-weight: 700;
}

/* 내용 */
.notification-info-content {
  font-size: 0.95rem;
  color: var(--bottari-darkslate);
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
.notification-info-content p {
  margin: 0.3rem 0;
}

/* 버튼 */
.notification-info-btn-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.notification-info-btn {
  color: var(--bottari-darkslate);
  font-size: 1rem;
  font-weight: 600;

  min-width: 40%;
  background-color: var(--bottari-coolgray);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
.notification-info-btn-navy {
  color: #fff;
  background-color: var(--bottari-navy);
}
@media (min-width: 769px) {
  .notification-info-btn {
    padding: 0.5rem 2rem;
  }
}
