/* 불투명 배경 */
.reserve-login-modal-background {
  width: 100%;
  max-width: 1024px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;

  z-index: 15;
}

/* 모바일 컨테이너 */
.reserve-login-modal-container {
  width: 85%;
  max-width: 900px;
  height: 60vh;
  background-color: #fff;
  border-radius: 10px;
  padding: 5% 3%;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 16;
}

@media (min-width: 769px) {
  /* 웹 컨테이너 */
  .reserve-login-modal-container {
    width: 85%;
    max-width: 900px;
    height: 70vh;
    background-color: #fff;
    border-radius: 10px;
    padding: 5% 3%;
  
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  
    z-index: 16;
  }
}

/* 유도 문구 */
.reserve-login-modal-text-warpper {
  text-align: center;
  font-weight: 600;

  margin: 3rem 0;
}

.reserve-login-modal-text-web {
  display: none;
}
@media (min-width: 769px) {
  /* 웹 버전 */
  .reserve-login-modal-text-web {
    display: inline;
  }
  .reserve-login-modal-text-mobile {
    display: none;
  }
}

/* 버튼 영역 */
.reserve-login-modal-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.reserve-login-modal-guest-btn-wrapper {
  background-color: #fff;
  border: 1px solid var(--bottari-navy);
  border-radius: 12px;

  width: 235px;
  height: 58px;

  font-weight: 600;
  font-size: 1rem;
}
