/* 페이지 전체 */
/* .social-login-page-container {
  width: 100%;
  height: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* 로그인 버튼 컨테이너 */
.social-login-page-btn-container {
  margin: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 로그인 안내문구 */
.login-page-text-warpper {
  padding-top: 10rem 0;
}
.social-login-page-text {
  font-weight: 600;
  font-size: 1rem;
}

/* 카카오 로그인 버튼 */
.social-login-page-kakao-btn-wrapper {
  background-color: #FEE500;
  border: none;
  border-radius: 12px;

  width: 220px;
  height: 50px;
}
.social-login-page-kakao-btn {
  width: 220px;
}
.social-login-page-kakao-text {
  visibility: hidden;
}

/* 버튼 웹 버전 */
@media (min-width: 769px) {
  /* 카카오 */
  .social-login-page-kakao-btn-wrapper {
    width: 235px;
    height: 50px;
    border: none;
    border-radius: 12px;
  }
  .social-login-page-kakao-btn {
    width: 235px;
  }
}

/* 버튼 효과 : 호버, 활성화 */
.social-login-page-kakao-btn-wrapper:hover {
  cursor: pointer;
}
.social-login-page-kakao-btn-wrapper:active {
  transform: scale(0.95);
  filter: brightness(0.95);  
}
