/* 소제목 제외페이지 전체 */
.social-login-page-body {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 유도문구 */
.social-login-page-text-warpper {
  margin: 25% 0 15% 0;
}
@media (min-width: 769px) {
  .social-login-page-text-warpper {
    margin: 5% 0;
  }
}
.social-login-page-text {
  font-weight: 600;
  font-size: 1rem;
}

/* 로그인 버튼 컨테이너 */
.social-login-page-btn-container {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 769px) {
  .social-login-page-btn-container {
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

/* 카카오 로그인 버튼 */
.social-login-page-kakao-btn-wrapper {
  background-color: #FEE500;
  border: none;
  border-radius: 12px;

  width: 220px;
  height: 50px;
}
.social-login-page-kakao-btn {
  width: 220px;
}
.social-login-page-kakao-text {
  visibility: hidden;
}
@media (min-width: 769px) {
  .social-login-page-kakao-btn-wrapper {
    width: 235px;
    height: 50px;
    border: none;
    border-radius: 12px;
  }
  .social-login-page-kakao-btn {
    width: 235px;
  }
}

/* 버튼 효과 : 호버, 활성화 */
.social-login-page-kakao-btn-wrapper:hover {
  cursor: pointer;
}
.social-login-page-kakao-btn-wrapper:active {
  transform: scale(0.95);
  filter: brightness(0.95);  
}
