/* 페이지 전체 */
/* .social-login-page-container {
  width: 100%;
  height: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* 로그인 버튼 컨테이너 */
.social-login-page-btn-container {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 로그인 안내문구 */
.social-login-page-text {
  font-weight: 600;
  font-size: 1rem;
}

/* 카카오 로그인 버튼 */
.social-login-page-kakao-btn-wrapper {
  background-color: #FEE500;
  border: none;
  border-radius: 12px;

  width: 235px;
  height: 58px;
}

.social-login-page-kakao-btn {
  width: 235px;
}

.social-login-page-kakao-text {
  visibility: hidden;
}